header {
    background-image: url("../images/header.jpg");
    width: 1900px;
    height: 250px;
    color: white;
    font-size: 25pt;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

body {
    background-color: rgba(255, 235, 205, 0.815);
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}