header {
    background-image: url("../images/header.jpg");
    width: 1900px;
    height: 500px;
    color: white;
    font-size: 25pt;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: left bottom;
}

body {
    background-color: rgb(202, 199, 224);
}

.feedback {
    font-size: 20pt;
    color: blue;
}