body {
    background-color: rgb(243, 241, 241);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    background-color: rgb(6, 152, 219);
    border: 1px;
    border-color: black;
    border-style: solid;
    color: white;
    padding: 15px 32px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 250px;
    border-radius: 50px;
    font-size: 9pt;
    height: 10px;
}

a:hover {
    background-color: rgb(28, 102, 151);
}

header,
main,
body,
footer {
    bottom: 1rem;
    left: 1rem;
}

footer {
    position: fixed;
}

#searchHistory {
    position: fixed;
    bottom: 7rem;
    left: 1rem;
}

.form-inline input,
select {
    border-radius: 50px;
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: rgb(236, 234, 234);
    border: 1px solid rgb(0, 0, 0);
}

.form-inline button {
    padding: 10px 20px;
    background-color: rgb(6, 152, 219);
    border: 1px solid black;
    color: white;
    border-radius: 50px;
}

.form-inline button:hover {
    background-color: rgb(28, 102, 151);
}

#output {
    background-color: white;
    min-height: 500px;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 50px;
    padding: 1rem;
}

#right {
    position: absolute;
    margin-left: 700px;
    width: 400px;
}

#right a {
    bottom: 1rem;
}

#left {
    position: absolute;
    width: 600px;
    background-color: white;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 50px;
    padding: 1rem;
}

#searchHistory button {
    padding: 10px 20px;
    background-color: rgb(6, 152, 219);
    border: 1px solid black;
    color: white;
    border-radius: 50px;
    display: inline-block;
    margin-bottom: 1rem;
}

#reset:hover {
    background-color: rgb(28, 102, 151);
}