.hotels li {
    display: inline;
    list-style: none;
}

.hotels {
    margin-left: 0px;
    padding-left: 0px;
}

img {
    width: 25%;
}

a {
    background-color: #4CAF50;
    border: 1px;
    border-color: black;
    border-style: solid;
    color: white;
    padding: 15px 32px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
}

a:hover {
    background-color: rgb(59, 172, 63);
}

footer {
    position: absolute;

}

header {
    background-image: url("../images/header.jpg");
    height: 150px;
    background-repeat: no-repeat;
    background-position: right center;
}

header h1 {
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 0;
}

header,
main,
body,
footer {
    max-width: 960px;
    bottom: 1rem;
    left: 1rem;
}